name: "Build"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  check:
    name: Check on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ self-hosted ]
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - name: Flake check
        run: NIXPKGS_ALLOW_UNFREE=1 nix flake check --impure # we only check on x86_64-linux, the iEDA build is not supported on darwin.

  build-bundle:
    name: Build Binary Bundle on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ self-hosted ]
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - name: Build iEDA
        run: nix build -L '.#iedaUnstable' --accept-flake-config
      - name: Build iEDA RPM Bundle
        run: nix bundle -L --bundler github:NixOS/bundlers#toRPM '.#iedaUnstable' --accept-flake-config
      - name: Upload iEDA RPM Offline Bundle
        uses: actions/upload-artifact@v5.0.0
        with:
          name: iEDA-RPM-Bundle
          path: rpm-single-ieda
      - name: Build iEDA ARX Bundle
        run: nix bundle -L '.#iedaUnstable' --accept-flake-config
      - name: Upload iEDA ARX Offline Bundle
        uses: actions/upload-artifact@v5.0.0
        with:
          name: iEDA-Bundle
          path: ieda-arx

  build-docker:
    name: Build Docker on ${{ matrix.os }}
    needs: [build-bundle]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ self-hosted ]
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - name: Build iEDA Release Docker
        run: nix build -L '.#releaseDocker' --accept-flake-config
      - name: Upload iEDA Release Docker
        uses: actions/upload-artifact@v5.0.0
        with:
          name: iEDA-Release-Docker
          path: result

  build-magic-vlsi:
    name: Build Magic-VLSI on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ self-hosted ]
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - name: Build Magic-VLSI
        run: nix build -L '.#magic-vlsi' --accept-flake-config

  build-yosys-with-slang:
    name: Build Yosys with Slang on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ self-hosted ]
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - name: Build Yosys with Slang
        run: nix build -L '.#yosysWithSlang' --accept-flake-config

  build-dreamplace:
    name: Build Dreamplace on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ self-hosted ]
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - name: Build Dreamplace
        run: NIXPKGS_ALLOW_UNFREE=1 nix build -L '.#dreamplace' --accept-flake-config --impure